/.classpath
/.project
/.gradle
/bin
/.settings
/slackstacker.state
/slackstacker.config
/build

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/slackstacker.config
