{
    "slack-webhook-url" : "my-incoming-webhook-url",
    "state-file" : "slackstacker.state",
    "channel"    : "was-cov-test"
    "feedURL"    : "https://community.ibm.com/community/user/imwuc/rssgenerator?UserKey=..."
}
